<div class="container profile-container">
	<div class="row">
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Cognito User profile</h3>
				<button id="cognito-s3-list" class="btn btn-primary">Get S3 bucket list</button>
			</div>
		</div>
	</div>
</div>
